<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Trusts', trusts_path %></li>
  <li><%= link_to 'Hospitals', hospitals_path %></li>
  <li><%= link_to 'Systems', systems_path %></li>
<% else %>

<% end %>
